.form{
    position: relative;
    width: 55%;
}

.form table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightblue;
    color: white;
}

td, th{
    border: 1px solid #ddd;
    padding: 8px;
}


.rightTb{
    border-right: hidden;
    border-left: hidden;
    border-bottom: hidden;
}

@media screen and (max-width: 1024px) {
    .form{
        width: 90%;
        margin: auto;
    }
    
}
